__pycache__/
.mypy_cache/
.dmypy.json
dmypy.json
.idea/
api_key_vultr.txt
api_key&chatId_telegram.txt
server_info.db
Settings.json
pylama.ini
tox.ini
TODO.txt
conf_lines.txt
last_status.txt
.style.yapf
