{
    "vps": {
        "location_id": 3,
        "plan_id": 201,
        "os_id": 215,
        "ssh_keys": "",
        "script_id": -1,
        "ssh_privkey_path": "~/.ssh/id_rsa"
    },
    "coins": {
        "GLT": {
            "mn_conf_path": "~/.globaltoken/masternode.conf",
            "wallet_cli_path": "~/.globaltoken/bin/globaltoken-cli",
            "node_port": 9319
        },
    }
}
