{
    "vps": {
        "location_id": 3,
        "plan_id": 201,
        "os_id": 215,
        "ssh_keys": "",
        "script_id": -1,
        "ssh_privkey_path": "~/.ssh/id_rsa"
    },
    "coins": {
        "GLT": {
            "mn_conf_path": "~/.globaltoken/masternode.conf",
            "wallet_cli_path": "~/Downloads/globaltoken/bin/globaltoken-cli",
            "node_port": 9319
        },
        "SMART": {
            "mn_conf_path": "~/.smartcash/smartnode.conf",
            "wallet_cli_path": "/path/to/cli",
            "node_port": -1
        },
        "PURA": {
            "mn_conf_path": "/path/to/config",
            "wallet_cli_path": "/path/to/cli",
            "node_port": -1
        }
    }
}
